# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

!**/src/main/**/target/
!**/src/test/**/target/

## IntelliJ IDEA:
.idea
*.iws
*.iml
*.ipr
out/

## Maven:
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties